<div class="header1">
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" [routerLink]="['home']">The PodPatch</a>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['signup']">Sign up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="loginService.getLoginUser() == null" [routerLink]="['']">Log in</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="loginService.getLoginUser() != null" (click)="logout()">Log Out</a>
    </li>
  </ul>
</nav>
</div>
<div class="searchbar">
  <mat-form-field class="searchbar-form">
      <span matPrefix><img src=..\..\assets\SearchIcon.png height="20px" width="20px">&nbsp;</span>
    <input matInput [(ngModel)]="searchBody" placeholder="Search for a podcast" (keyup.enter)="search()">
  </mat-form-field>
</div>