<button mat-raised-button *ngIf="!subscribed && loginService.getLoginUser() != null" color="primary" (click)="subscribe()">Subscribe</button>
<button mat-raised-button *ngIf="subscribed" color="primary" (click)="unsubscribe()">Unsubscribe</button>
<button mat-raised-button *ngIf="loginService.getLoginUser() == null" color="primary" [routerLink]="['']">Make an account to subscribe</button>
<div class="episode-list" *ngFor="let PodcastEpisode of episodeList, let i = index">
<p (click)="loadAudio(i)">
  {{PodcastEpisode.title}}
</p>
<button (click)="episodeDetails(i)">Details</button>
<button (click)="addToPlaylist(i)">Add to Playlist</button>
<button *ngIf="!PodcastEpisode.listened && this.loginService.getLoginUser() != null" (click)="markListened(i)">Mark Listened</button>
<button *ngIf="PodcastEpisode.listened && this.loginService.getLoginUser() != null" (click)="unmarkListened(i)">Unmark Listened</button>
</div>