<div class="logo-container">
    <img class="logo" src="../../assets/farmbabies.png">
<div class="welcome-text-and-message">
<h1 class="welcome-text">Welcome to The PodPatch</h1>
<p class="welcome-message">If you already have an account, please sign in below.
  <br>If you'd like to sign up for an account <span [routerLink]="['signup']">click here</span>
<br>If you want to continue without an account, use the search bar to start listening.</p>
</div>
</div>
<h1 class="login-text">Login</h1>

<form class="example-container login-form">
  <mat-form-field class="example-full-width">
    <input matInput type="email" placeholder="Email" [(ngModel)]="user.email" name="email">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="Password" [(ngModel)]="user.user_password" name="Password">
  </mat-form-field>
  <br>

  <button mat-raised-button color="primary" (click)="login()">Submit</button></form>
