<section class="sidebar-right">
  
  <span *ngIf="this.loginService.getLoginUser() != null" class="name">Welcome, {{this.loginService.getLoginUser().firstName}}</span>
    <div class="now-playing-art">
      <img class="now-playing-image" [src]="this.episodeListService.podcast.artworkUrl600">
    </div>
   
      <span class="podcast-title sidebar-text">{{this.episodeListService.podcast.collectionName}}</span><br>
      <span class="episode-title sidebar-text">{{this.episodeListService.episodeTitle}}</span>
  
  
 
    


    <button (click)="playAudio()" *ngIf="this.sidebarService.audio.paused">Play</button>
    <button (click)="pauseAudio()" *ngIf="!this.sidebarService.audio.paused">Pause</button>
    <p class="sidebar-text">{{this.sidebarService.getCurrentTimeHour()}}:{{this.sidebarService.getCurrentTimeMinute()}}:{{this.sidebarService.getCurrentTimeSecond()}}--------{{this.sidebarService.getDurationHour()}}:{{this.sidebarService.getDurationMinute()}}:{{this.sidebarService.getDurationSecond()}}</p>
    <mat-slider min="0" [max]="this.sidebarService.audio.duration" step="1" [(ngModel)]="this.sidebarService.audio.currentTime"></mat-slider>
    <label class="sidebar-text" for="volume">Volume</label>
    <mat-slider min="0" max="1.0" step="0.1" value="0.5" [(ngModel)]="this.sidebarService.audio.volume"></mat-slider>
    
    <h5 class="sidebar-text">Playlist</h5>
    <ol>
      <div *ngFor="let podcastEpisode of this.sidebarService.playlist, let i = index">     
         <li class="sidebar-text">{{podcastEpisode.title}}</li>
         <button (click)="this.sidebarService.removeFromPlaylist(i)">Remove</button>
      </div>
    </ol>
</section>
