<h2> Sign up and stay a while! 
  Having an account means you can subscribe to your favorite podcasts and record your listen history!</h2>

<div class="example-container">
  <mat-form-field>
    <input matInput type="text" placeholder="First Name">
  </mat-form-field>
  
  <mat-form-field>
   <input matInput type="text" placeholder="Last Name">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput type="email" placeholder="Email Address">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password">
  </mat-form-field>
  <button mat-raised-button color="primary">Primary</button>

</div>