@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.sidebar-right {
    background-color: #2f3d44;
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    width: 25%;
    z-index: 15;
    margin-left: 100px;
    -webkit-box-shadow: -8px 0 12px -4px rgba(0,0,0,.3);
    -moz-box-shadow: -8px 0 12px -4px rgba(0,0,0,.3);
    box-shadow: -8px 0 12px -4px rgba(0,0,0,.3);
    height: 100%;
}

.sidebar-text{
    color:white;
}

.searchbar {
    margin-top:40px;
    background-color:white;
    padding-left: 30px;
    padding-top:18px;
}

.signup {
  margin-top:400px;
}

.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

.example-card {
    max-width: 200px;
}
  
.example-header-image {
    background-size: cover;
}

.img-search-result {
    width: 200px !important;
    height: 200px !important;
}

.inline-card {
    display:inline-block;
}

.maxwidth450px {
    max-width: 200px;
    box-sizing: content-box;
    margin-bottom: 20px;
    margin-right: 20px; 
    max-height: 200px;
    margin-bottom:55px;
}

.card-title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width:200px;
    text-align: center;
}

.card-body {
    padding:0px !important;
}

html {
    max-width: 73%;
    box-sizing:border-box;
    margin:10px;
}

audio {
    width:100%;
}

.now-playing-image {
    width:100%;
}

.playlist {
    overflow-y:scroll;
    height:125px;
}

.material-icons {
    color: rgba(255, 255, 255, 1);
  font-size:48px;  
}

.episode-title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.podcast-title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkgrey; 
  }
/*
.card {
    width: calc(33.33% - 16px);
}
*/